@using Bank_Deposits.ViewModels
@using Domains.Models
@model PageViewModel<Currency>

@{
    ViewData["Title"] = "Валюты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Валюты</h1>

<p>
    <a asp-action="Create">Создать новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CurrencyId">Редактировать</a> <br />
                    <a asp-action="Details" asp-route-id="@item.CurrencyId">Детали</a> <br />
                    <a asp-action="Delete" asp-route-id="@item.CurrencyId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination-wrapper d-flex justify-content-center">
    <div class="pagination-controls">
        @if (Model.TotalPages > 15)
        {
            @if (Model.PageNumber <= 8)
            {
                @for (int i = 1; i <= 15; i++)
                {
                    <a asp-action="Index" asp-route-page="@(i)" class="btn btn-primary @(i == Model.PageNumber ? "active" : "")">@i</a>
                }
                <span>...</span>
                <a asp-action="Index" asp-route-page="@Model.TotalPages" class="btn btn-primary">@(Model.TotalPages)</a>
            }
            else if (Model.PageNumber >= Model.TotalPages - 7)
            {
                <a asp-action="Index" asp-route-page="1" class="btn btn-primary">1</a>
                <span>...</span>
                @for (int i = Model.TotalPages - 14; i <= Model.TotalPages; i++)
                {
                    <a asp-action="Index" asp-route-page="@(i)" class="btn btn-primary @(i == Model.PageNumber ? "active" : "")">@i</a>
                }
            }
            else
            {
                <a asp-action="Index" asp-route-page="1" class="btn btn-primary">1</a>
                <span>...</span>
                @for (int i = Model.PageNumber - 6; i <= Model.PageNumber + 8; i++)
                {
                    <a asp-action="Index" asp-route-page="@(i)" class="btn btn-primary @(i == Model.PageNumber ? "active" : "")">@i</a>
                }
                <span>...</span>
                <a asp-action="Index" asp-route-page="@Model.TotalPages" class="btn btn-primary">@(Model.TotalPages)</a>
            }
        }
        else
        {
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <a asp-action="Index" asp-route-page="@(i)" class="btn btn-primary @(i == Model.PageNumber ? "active" : "")">@i</a>
            }
        }
    </div>
</div>
